<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>370748984915-v1pcchn1oc899hlbd480j2fo7flmqntv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.370748984915-v1pcchn1oc899hlbd480j2fo7flmqntv</string>
	<key>API_KEY</key>
	<string>AIzaSyCsK2RWWKIi_6inuAL9_ejMKIv9g8zxJ2k</string>
	<key>GCM_SENDER_ID</key>
	<string>370748984915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wcaruso.EDA-Aware</string>
	<key>PROJECT_ID</key>
	<string>eda-aware</string>
	<key>STORAGE_BUCKET</key>
	<string>eda-aware.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:370748984915:ios:dcfe4099656f519e</string>
	<key>DATABASE_URL</key>
	<string>https://eda-aware.firebaseio.com</string>
</dict>
</plist>